{template 'common/header'}
<div class="page-group">
    <div class="page superpage_{$do}" id="superpage_{$do}_{$act}">
        {template 'common/nav'}
        {template 'common/title'}
        <div class="content infinite-scroll" data-flag="0" data-page="{$pindex}" data-list-url="{php echo $this->createMobileUrl('home', array('load' => 'infinite'))}" data-detail-url="{php echo $this->createMobileUrl('item', array('act' => 'detail'))}" data-img-url="{php echo $_W['siteroot']}attachment/">
            <div class="swiper-container home_swiper_warp" data-autoplay="4000">
                <div class="swiper-wrapper">
                    {if !empty($slide)}
                    {loop $slide $li}
                    <div class="swiper-slide">
                        <a href="{$li['url']}" class="external">
                            <img src="{php echo tomedia($li['img'])}">
                        </a>
                    </div>
                    {/loop}
                    {/if}
                </div>
            </div>
            <div class="list-block media-list topline_wrap">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <img class="notice_img" src="https://img.yzcdn.cn/public_files/2017/8/10/6af5b7168eed548100d9041f07b7c616.png"/>
                            </div>
                            <div class="item-inner notice_wrap">
                                <ul>
                                    {if !empty($notice)}
                                    {loop $notice $li}
                                    <li class="text-overflow font6">
                                        <a href="" class="color-default open-notice">
                                            <span class="notice-title">{$li['title']}</span>
                                            <span class="notice-content">{php echo htmlspecialchars_decode($li['content'])}</span>
                                        </a>
                                    </li>
                                    {/loop}
                                    {/if}
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {if !isset($this->module['config']['base']['category']) || $this->module['config']['base']['category'] == 1}
            <div class="white-box">
                <div class="row">
                    {if !empty($category)}
                    {loop $category $li}
                    <div class="col-25 col-item">
                        <a href="{php echo $this->createMobileUrl('item', array('act' => 'list', 'cid' => $li['id']))}" data-no-cache="true">
                            <div class="item-img">
                                <img src="{php echo tomedia($li['cover'])}" alt="">
                            </div>
                            <span>{$li['title']}</span>
                        </a>
                    </div>
                    {/loop}
                    {/if}
                </div>
            </div>
            {/if}
            <div class="flex-item">
                <div class="order-item active" data-type="default">默认排序</div>
                {if !isset($this->module['config']['base']['distance']) || $this->module['config']['base']['distance']==1}
                <div class="order-item" data-type="location">离我最近</div>
                {/if}
                <div class="order-item" data-type="popular">人气最高</div>
            </div>
            <div class="item-list" id="goods-list">
                {if !empty($list)}
                {loop $list $li}
                {if $li['item_type'] == 1}
                <div class="card facebook-card seller-item">
                    <a href="{$li['url']}">
                        <div class="card-header no-border">
                            <div class="facebook-avatar">
                                <img src="{$li['avatar']}">
                            </div>
                            <div class="facebook-info">
                                <div class="facebook-name">{$li['title']}</div>
                                <div class="facebook-date">{$li['time_diff']}前发布</div>
                            </div>
                            <div class="facebook-price">广告</div>
                        </div>
                        <div class="card-content">
                        {if $li['cover']}
                        <div class="img-box w50">
                            <img class="card-photo" src="{php echo tomedia($li['cover'])}">
                        </div>
                        {/if}
                        {if $li['description']}
                        <p class="text-overflow">{$li['description']}</p>
                        {/if}
                    </div>
                    </a>
                </div>
                {else}
                <div class="card facebook-card seller-item">
                    <a href="{php echo $this->createMobileUrl('item', array('act' => 'detail', 'id' => $li['id']))}" data-no-cache="true" class="external">
                        <div class="card-header no-border">
                            <div class="facebook-avatar">
                                <img src="{$li['avatar']}">
                            </div>
                            <div class="facebook-info">
                                <div class="facebook-name">{$li['nickname']}</div>
                                <div class="facebook-date">
                                    <span>{$li['time_diff']}前发布</span>
                                    {if $li['pay_position'] > 0}
                                    <span class="set-top">置顶</span>
                                    {/if}
                                </div>
                            </div>
                            <div class="facebook-price">
                                {if $li['buy_type'] == 1}
                                    {if $li['credit'] > 0}
                                        {$li['credit']}积分
                                    {else}
                                        面议
                                    {/if}
                                {else}
                                    {if $li['price'] > 0}
                                        {if $li['unit'] == 1}
                                            {$li['price']}美元
                                        {else}
                                            {$li['price']}元
                                        {/if}
                                    {else}
                                        面议
                                    {/if}
                                {/if}
                            </div>
                        </div>
                        <div class="card-content">
                            {if $li['status'] == 2}
                            <div class="sell-status">
                                <img src="{$_W[siteroot]}addons/superman_hand2/template/mobile/images/yz.png" alt="">
                            </div>
                            {/if}
                            {if count($li['album']) == 1}
                            <div class="img-box w50">
                                <img class="card-photo" src="{php echo tomedia($li[album][0])}">
                            </div>
                            {else if count($li['album']) > 1}
                            {loop $li['album'] $val}
                            <div class="img-box">
                                <img class="card-photo" src="{php echo tomedia($val)}">
                            </div>
                            {/loop}
                            {/if}
                            <p class="text-overflow">{$li['title']}</p>
                            {if $li['comment']}
                            <div class="item-message">
                                <p>{$li['comment']['buyer_name']}：{$li['comment']['message']}</p>
                                {if $li['comment']['reply']}<p>主人回复：{$li['comment']['reply']}</p>{/if}
                            </div>
                            {/if}
                        </div>
                        <div class="card-footer">
                            <div class="float-left">
                                <div class="footer-address"><i class="iconfont icon-pos"></i>{$li['address']}</div>
                            </div>
                            <div class="float-right">
                                <div class="inline">
                                    <span class="iconfont icon-praise"></span><span>{$li['zan']}</span>
                                </div>
                                <div class="inline">
                                    <span class="iconfont icon-xiaoxi"></span><span>{$li['message']}</span>
                                </div>
                                {if $item_view == 1}
                                <div class="inline">
                                    <span class="iconfont icon-eye"></span><span>{$li['page_view']}</span>
                                </div>
                                {/if}
                            </div>
                        </div>
                    </a>
                </div>
                {/if}
                {/loop}
                {/if}
            </div>
            <div class="nodata font6 text-center color-gray" style="display: none; padding-bottom: .2rem;">
                没有了
            </div>
            {if count($list)==$pagesize}
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
            {/if}
        </div>
        {template 'common/share'}
    </div>
    <div class="popup popup-notice">
        <div class="content content-padded">
            <div style="text-align: right;">
                <a href="#" class="close-popup color-orange">
                    <span class="iconfont icon-close"></span>
                </a>
            </div>
            <p class="pop-title"></p>
            <div class="pop-content"></div>
        </div>
    </div>
</div>
{template 'common/footer'}